@import "tailwindcss";

/*FONT FINGERPAINT  USADA EN LIBRO: SECRETOS*/
@font-face {
    font-family: "finger-paint";
    src: url("/fonts/finger_paint/finger-paint-latin-400-normal.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}
/*FONT MONTSERRAT USADA EN PAGINA PRINCIPAL INDEX.ASTRO (SOBRE AUTORA)*/
@font-face {
    font-family: "montserrat";
    src: url("/fonts/montserrat/montserrat-latin-400-normal.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family:"montserrat";
    src: url("/fonts/montserrat/montserrat-latin-600-normal.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family:"montserrat";
    src: url("/fonts/montserrat/montserrat-latin-700-normal.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}
/*FONT MERRIWEATHER USADA EN PAGINA PRINCIPAL INDEX.ASTRO (SOBRE AUTORA)*/

@font-face {
    font-family:"merriweather";
    src: url("/fonts/merriweather/merriweather-latin-400-normal.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family:"merriweather";
    src: url("/fonts/merriweather/merriweather-latin-600-normal.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family:"merriweather";
    src: url("/fonts/merriweather/merriweather-latin-700-normal.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}


@theme{
    --font-finger:"finger-paint",  'system-ui', 'sans-serif';
    --font-merriweather:"merriweather",  'system-ui', 'sans-serif';
    --font-montserrat:"montserrat",  'system-ui', 'sans-serif';
    --color-texto:#2c3e90;
}

:root{
    --bg :  linear-gradient(135deg, #fce4ec 0%, #e1f5fe 50%, #f3e5f5 100%);
}
/*Body index styles*/
body{
    background: var(--bg);
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}

img {
  display: block;
  max-width: 100%;
}

.stack {
  width: 200px;
  max-width: 400px;
  transition: 0.25s ease;
  &:hover {
    transform: rotate(5deg);
    .card:before {
      transform: translatey(-2%) rotate(-4deg);
    }
    .card:after {
      transform: translatey(2%) rotate(4deg);
    }
  }
}

.card-img {
  aspect-ratio: 3 / 2;
  border: 4px solid;
  background-color: #fff;
  position: relative;
  transition: 0.15s ease;
  cursor: pointer;
  padding: 5% 5% 15% 5%;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 4px solid;
    background-color: #fff;
    transform-origin: center center;
    z-index: -1;
    transition: 0.15s ease;
    top: 0;
    left: 0;
  }

  &:before {
    transform: translatey(-2%) rotate(-6deg);
  }

  &:after {
    transform: translatey(2%) rotate(6deg);
  }
}
.image {
  width: 100%;
  border: 4px solid;
  background-color: #eee;
  aspect-ratio: 1 / 1;
  position: relative;
}

.browser-warning {
  margin-bottom: 4rem;
}

@supports (aspect-ratio: 1 / 1) {
  .browser-warning {
    display: none;
  }
}

/*button wattpad*/
a{
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 text-align: center;
 font-family: 'montserrat' ;
 font-size: 15px;
}

a.learn-more {
 font-weight: 600;
 color: #fff;
 text-transform: uppercase;
 padding: 1.25em 2em;
 background:  	#fe723a;
 border: 2px solid #992c00;
 border-radius: 0.75em;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

a.learn-more::before {
  position: absolute;
 content: '';
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background:  	#d33f04;
 border-radius: inherit;
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #992c00, 0 0.625em 0 0  	#fe713a93;
 -webkit-transform: translate3d(0, 0.75em, -1em);
 transform: translate3d(0, 0.75em, -1em);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

a.learn-more:hover {
 background: #fe723a;
 -webkit-transform: translate(0, 0.25em);
 transform: translate(0, 0.25em);
}

a.learn-more:hover::before {
 -webkit-box-shadow: 0 0 0 2px #ff006a, 0 0.5em 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #992c00, 0 0.5em 0 0 #fe713a6e;
 -webkit-transform: translate3d(0, 0.5em, -1em);
 transform: translate3d(0, 0.5em, -1em);
}

a.learn-more:active {
 background: #fe713a9f;
 -webkit-transform: translate(0em, 0.75em);
 transform: translate(0em, 0.75em);
}

a.learn-more:active::before {
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0, -1em);
 transform: translate3d(0, 0, -1em);
}









/* --- LIBRO --- */
.book-item {
  width: 3.5rem;
  height: 280px;
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
  margin-right: -2px;
  transition:
  width 0.4s cubic-bezier(.25,1,.5,1),
  transform 0.4s cubic-bezier(.25,1,.5,1),
  box-shadow 0.4s;
}

.book-item:hover {
  width: 16rem;
  transform: translateY(-10px) rotate(-1deg);
  box-shadow: 8px 8px 0 #000;
  z-index: 20;
}

/* --- LOMO --- */
.book-spine {
  position: absolute;
  cursor: pointer;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  transition: opacity 0.2s ease;
}

.book-item:hover .book-spine {
  opacity: 0;
  pointer-events: none;
}

.spine-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  user-select: none;
  font-size: 14px;
}

.divider.thick {
  width: 100%;
  height: 2px;
  background: #000;
}

.divider.thin {
  width: 100%;
  height: 2px;
  background: #000;
}

/* --- PORTADA --- */
.book-cover {
  position: absolute;
  inset: 0;
  background-size:cover;
  background-position: center;
  border-left: 2px solid #000;
  opacity: 0;
  transition: opacity 0.3s ease 0.1s;
}

.book-item:hover .book-cover {
  opacity: 1;
}

.cover-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0);
  transition: background 0.3s ease;

}

.book-item:hover .cover-overlay {
  background: rgba(0,0,0,0.1);
}

/* --- STICKER --- */
.sticker {
  position: absolute;
  bottom: .5rem;
  left: 1rem;
  right: 1rem;
  background: #fff;
  border: 2px solid #000;
  padding: 0.5rem;
  box-shadow: 4px 4px 0 #000;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease;
  
}

.book-item:hover .sticker {
  transform: translateY(0);
  opacity: 1;
}

.sticker a {
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1;
}

