---
import {Image} from 'astro:assets'

---


<p class="browser-warning">
  If this looks wonky to you it's because this browser doesn't support the CSS
  property 'aspect-ratio'.
</p>

<div class="stack ">
  <div class="card-img">
    <div class="image">
      <img class="" src="/src/assets/alejandra morales.jpg" alt="">
    </div>
    <p class="text-center font-finger text-[13px] p-1">Alejandra Morales  - Escritora</p>
  </div>
</div>