---
import {Image} from 'astro:assets';
import image_profile from "/src/assets/alejandra morales.jpg";
import Button from "./button.astro";

---


<p class="browser-warning">
  If this looks wonky to you it's because this browser doesn't support the CSS
  property 'aspect-ratio'.
</p>
<div>

  <div class="stack ">
    <div class="card-img">
      <div class="image">
        <Image
      class="" 
      src={image_profile}
      alt="Imagen Alejandra Morales"
      
      />
    </div>
    <p class="text-center font-finger text-[13px] p-1">Escritora / 2005</p>
  </div>
</div>
  <div class="flex flex-col mt-10">
    <Button 
      button_name = "Wattpad"
      link_wattpad = "https://www.wattpad.com/user/Alejandra_Morales?"
    />
  </div>

</div>



   


